

NET "RESET" LOC = P47;
NET "sCLK" LOC = P57;
NET "Ins[7]" LOC = P130;
NET "Ins[6]" LOC = P129;
NET "Ins[5]" LOC = P127;
NET "Ins[4]" LOC = P126;
NET "Ins[3]" LOC = P125;
NET "Ins[2]" LOC = P124;
NET "Ins[1]" LOC = P121;
NET "Ins[0]" LOC = P120;
NET "ADD[7]" LOC = P105;
NET "ADD[6]" LOC = P104;
NET "ADD[5]" LOC = P103;
NET "ADD[4]" LOC = P102;
NET "ADD[3]" LOC = P101;
NET "ADD[2]" LOC = P99;
NET "ADD[1]" LOC = P98;
NET "ADD[0]" LOC = P96;


NET "SEG1[6]" LOC = P10;
NET "SEG1[5]" LOC = P8;
NET "SEG1[4]" LOC = P7;
NET "SEG1[3]" LOC = P6;
NET "SEG1[2]" LOC = P5;
NET "SEG1[1]" LOC = P4;
NET "SEG1[0]" LOC = P3;
NET "SEG2[6]" LOC = P19;
NET "SEG2[5]" LOC = P18;
NET "SEG2[4]" LOC = P16;
NET "SEG2[3]" LOC = P15;
NET "SEG2[2]" LOC = P13;
NET "SEG2[1]" LOC = P12;
NET "SEG2[0]" LOC = P11;
NET "SEG3[6]" LOC = P29;
NET "SEG3[5]" LOC = P28;
NET "SEG3[4]" LOC = P27;
NET "SEG3[3]" LOC = P25;
NET "SEG3[2]" LOC = P24;
NET "SEG3[1]" LOC = P21;
NET "SEG3[0]" LOC = P20;
NET "SEG4[6]" LOC = P64;
NET "SEG4[5]" LOC = P63;
NET "SEG4[4]" LOC = P62;
NET "SEG4[3]" LOC = P60;
NET "SEG4[2]" LOC = P59;
NET "SEG4[1]" LOC = P58;
NET "SEG4[0]" LOC = P55;
NET "SEG5[6]" LOC = P76;
NET "SEG5[5]" LOC = P75;
NET "SEG5[4]" LOC = P72;
NET "SEG5[3]" LOC = P71;
NET "SEG5[2]" LOC = P70;
NET "SEG5[1]" LOC = P69;
NET "SEG5[0]" LOC = P68;

# PlanAhead Generated physical constraints 

NET "SEG1[6]" LOC = P10;
NET "SEG1[5]" LOC = P8;
NET "SEG1[4]" LOC = P7;
NET "SEG1[3]" LOC = P6;
NET "SEG1[2]" LOC = P5;
NET "SEG1[1]" LOC = P4;
NET "SEG1[0]" LOC = P3;
NET "SEG2[6]" LOC = P19;
NET "SEG2[5]" LOC = P18;
NET "SEG2[4]" LOC = P16;
NET "SEG2[3]" LOC = P15;
NET "SEG2[1]" LOC = P12;
NET "SEG2[0]" LOC = P11;
NET "SEG2[2]" LOC = P13;
